#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gnome-panel-launcher
Name[en_US]=TAB2PDF
Exec=java -jar /home/user/git/TAB2PDF/TAB2PDF/deliverables/TAB2PDF.jar
Name=TAB2PDF
Icon=gnome-panel-launcher
