.Blue_Button {
 border-radius: 5px;
 background-color: rgb(0, 114, 188);
 position: absolute;
 left: 51px;
 top: 578px;
 width: 421px;
 height: 39px;
 z-index: 22;
}
.pdf {
  background-color: rgb(255, 84, 61);
  position: absolute;
  left: 177px;
  top: 253px;
  width: 162px;
  height: 225px;
  z-index: 10;
}

.Help {
  border-width: 0.4px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 5px;
  position: absolute;
  left: 944px;
  top: 727px;
  width: 67px;
  height: 33px;
  z-index: 16;
}


.Tab2PDF {
  font-size: 17.315px;
  font-family: "Roboto";
  color: rgb(245, 245, 245);
  font-weight: bold;
  text-align: center;
  left: 476.804px;
  top: 16.687px;
  z-index: 4;
}


.SelectaMode: {
  font-size: 17.315px;
  font-family: "Roboto";
  color: rgb(245, 245, 245);
  text-align: center;
 
  left: 136.181px;
  top: 124.687px;
  z-index: 5;
}


.Advanced {
  font-size: 14.406px;
  font-family: "Roboto";
  color: rgb(245, 245, 245);
  text-align: center;
    left: 739.744px;
  top: 510.176px;
  z-index: 14;
}



.textfield {
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 5px;
  background-color: rgb(99, 99, 99);
  position: absolute;
  left: 50px;
  top: 144px;
  width: 302px;
  height: 37px;
  z-index: 10;
}

